@import url(https://fonts.googleapis.com/css?family=Open+Sans|Lobster|Felipa|Oswald);
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 20px;
    border-top: 5px solid #00a3d3
}
p {
    line-height: 28px;
}
.container {
    margin-bottom: 40px; 
}
.navbar-default {
    background: #fff;
    border: none
}
.navbar-default .navbar-brand {
    color: #5e5e5e;
    font-family: 'Oswald' !important;
    font-weight: 700;
    font-size: 50px
}
.navbar-brand .small {
    color: #45474d;
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: 16px
}
.navbar-default .navbar-nav > li > a {
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    border-radius: 26px;
    padding: 10px 20px
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover {
    color: #fff;
    background: #00a3d3
}
.carousel-inner .carousel-caption {
    text-align: left
}
.carousel-inner .carousel-caption h2 {
    margin-bottom: 25px
}
.carousel-inner .carousel-caption h2 span {
    color: #fff;
    font-family: 'Lobster';
    background: #222;
    padding: 10px
}
.carousel-inner .carousel-caption small span {
    background: #00a3d3;
    font-size: 20px;
    padding: 10px
}
.carousel .carousel-indicators {
    bottom: 1px
}
.features .fa {
    font-size: 82px
}

.tagline h1 {
    font-family: 'Felipa', Arial, Helvetica, sans-serif;
    color: #5e5e5e;
}

.events h2,
.special-events h2,
.contact-us h2,
.aboutus h2,
.members h2 {
    border-bottom: 3px solid #00a3d3;
    display: inline-block;
    margin-bottom: 20px;
}
.aboutus ul > li {
    list-style: none;
    margin-bottom: 10px;
}
.aboutus ul > li .fa {
    margin-right: 15px;
}

.footer {
    margin-top:50px;
    padding: 15px;
    color: #999;    
}